canvas{
    background-color: lightgrey;
    border:1px solid #000000;
    /*
    * vw are used here to make the canvas responsive
    * from 1440 : 800  we get  90 : 50
    * reduced by 15% each are 75 : 42.5
    */
    width:75vw;
    height:42.5vw;
}
#container-div{
    text-align:center;
}
#warning-info{
    width:80vw; /*same as canvas*/
    margin-left: 7.5vw;
    text-align: center;
}